doctype html
html
  head
    meta(charset='UTF-8')
    title my order
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    style.
      body{
      font-family:"Microsoft Yahei";
      }
      .order-div ul,
      .dish ul {
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      }
      .dishName,
      .dishPrice,
      .dishNum {
      display: inline-block;
      margin-right: 10px;
      }
      ul,
      li {
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: "Microsoft Yahei";
      }
      ul {
      overflow: hidden;
      }
      .star>li {
      float: left;
      font-size: 32px;
      cursor: pointer
      }
      .active {
      color: #f00
      }
      .text {
      display: inline-block;
      vertical-align: middle;
      }
      .order-div .star {
      width: 200px;
      display: inline-block;
      margin: 0;
      vertical-align: middle;
      }
      .shopId,
      .orderId {
      display: none;
      }
      .title {
      font-weight: bold;
      font-size: 18px;
      font-style: italic;
      width: 200px;
      display: inline-block;
      color: #1e89e0;
      }
      .orderContent {
      margin: 10px 0;
      border-bottom: 1px dashed #eee;
      border-top: 1px dashed #eee;
      }
      .confirm,
      .markBtn,
      .comment {
      display: inline-block;
      padding: 8px 17px;
      line-height: 1;
      border: none;
      border-radius: 2px;
      outline: 0;
      cursor: pointer;
      font-size: 14px;
      text-align: center;
      background-color: #f74342;
      color: #fff;
      }
      .dishMark {
      display: inline-block;
      margin-right: 10px;
      }
      .wrp{
      width:80%;
      margin:20px auto;
      }
    script(src='/javascripts/jquery-2.2.3.min.js')
    script(src='/javascripts/jquery.tmpl.min.js')
    script#ifelse(type='text/x-jquery-tmpl').
      <ul>
      <li><span class="title">Price:</span><span class="price">${order.price}</span></li>
      <li><span class="title">Order date:</span>${formatDate(order.date)}</li>
      <li><span class="title">Order status:</span>${order.status}</li>
      <li class="orderContent"><span class="title">Order content:</span>
      <div class="dishName"></div>
      <div class="dishPrice"></div>
      <div class="dishNum"></div>
      <div class="dishId"></div>
      {{if order.status=="created" || order.status=="shipped"}}
      <button class="confirm">Received</button>
      {{else localStorage.getItem(order._id)=='mark' }} {{else}}
      <div class="dishMark"></div>
      <button class="markBtn">submit mark</button>
      {{/if}}
      </li>
      <li class="shopId">${order.shop}</li>
      <li class="orderId">${order._id}</li>
      {{if order.status=="created" || order.status=="shipped"}} {{else}} {{if order.comment }}
      <li class="content"><span class="title">Comment content:</span>${order.comment.content}</li>
      {{else}}
      <li><span class="title">Comment:</span>
      <input type="text" />
      <button class="comment">submit comment</button>
      </li>
      {{/if}} {{/if}}
      </ul>
    script.
      function formatDate(date) {
   
      return new Date(Date.parse(date)).toDateString();
      }
      function moreOrder(index) {
      $(".loading").show();
      $.ajax({
      url: '/user/account/web/wholeOrderData',
      type: 'GET',
      headers: {
      'index': index,
      'count': 9999
      },
      success: function(data, status) {
      if (data.success) {
      $(".loading").hide();
      //alert()
      console.log(data)
      /*if(localStorage.getItem(data.order.order._id)=='mark'){
      alert("good")
      data.order.mark=true;
      }*/
      $("#ifelse").tmpl(data.order).appendTo('.order-div');
      }
      for (var i in data.dishObj) {
      var len = data.dishObj[i].length;
      for (var j = 0; j < len; j++) {
      $(".dishName").eq(Number(i)).append("<div class='dish-item'>" + data.dishObj[i][j].dishName + "</div>")
      $(".dishId").eq(Number(i)).append("<input type='hidden' value='" + data.dishObj[i][j]._id + "'>")
      $(".dishPrice").eq(Number(i)).append("<div class='dish-price'>" + data.dishObj[i][j].price + "</div>")
      $(".dishNum").eq(Number(i)).append("<div class='dish-num'>" + data.amount[i][j] + "</div>")
      $(".dishMark").eq(Number(i)).append('<div class="box"><div class="score"><span class="result"></span></div><ul class ="star"><li>★</li><li>★</li><li>★</li><li>★</li><li>★</li></ul><div class="text">0</div></div>')
      }
      }
      var start = document.getElementsByClassName("star");
      for (var k = 0; k < start.length; k++) {
      start[k].onmouseover = function() {
      var startLi = this.querySelectorAll("li");
      for (var i = 0, len = startLi.length; i < len; i++) {
      startLi[i].index = i; //给li添加一个索引值
      startLi[i].onclick = function() {
      for (var j = 0; j < startLi.length; j++) {
      startLi[j].className = "";
      }
      for (var j = 0; j <= this.index; j++) { //鼠标经过当前li,<=当前li的索引值的所有li都变亮
      startLi[j].className = "active";
      }
      $(this).parent().next().text(this.index + 1);
      }
      }
      };
      }
      }
      })
      }
      moreOrder(1);
      $(document).on("click", ".comment", function() {
      var shopId = $(this).parent().siblings(".shopId").text();
      var orderId = $(this).parent().siblings(".orderId").text();
      var comment = {};
      comment.content = $(this).siblings("input").val();
      comment.mark = 4; //要改
      $.ajax({
      url: '/user/account/web/comment',
      type: 'POST',
      data: {
      "shopId": shopId,
      "orderId": orderId,
      "comment": comment
      },
      success: function(data, status) {
      if (data.success) {
      // alert("comment success")
      location.reload()
      }
      }
      });
      })
      $(document).on("click", ".confirm", function() {
      var shopId = $(this).parent().siblings(".shopId").text();
      var orderId = $(this).parent().siblings(".orderId").text();
      $.ajax({
      url: '/user/account/order',
      type: 'POST',
      data: {
      "shopId": shopId,
      "orderId": orderId,
      "type":"confirmed"
      },
      success: function(data, status) {
      if (data.success) {
      //alert("confirm success")
      location.reload()
      }
      }
      });
      })
      $(document).on("click", ".markBtn", function() {
      for (var i = 0; i < $(this).parent().find(".dishId").children().length; i++) {
      var dishId = $(this).parent().find(".dishId").children().eq(i).val();
      var mark = $(this).siblings(".dishMark").children().eq(i).find(".text").text();
      var shopId = $(this).parent().siblings(".shopId").text();
      var orderId = $(this).parent().siblings(".orderId").text();
      //- alert(dishId)
      //- alert(mark)
      //- alert(shopId)
      $.ajax({
      url: '/user/account/web/markDish',
      type: 'POST',
      data: {
      "dishId": dishId,
      "mark": mark,
      "shopId": shopId
      },
      success: function(data, status) {
      if (data.success) {
      //alert("mark success")
      //alert(orderId)
      localStorage.setItem(orderId, 'mark');
      location.reload()
      }
      },
      error: function(err) {
      console.log(err)
      }
      });
      }
      })
    
  body
    include header.jade
    .wrp
      .order-div
        .loading Loading...
  script.
