doctype html
html
  head
    meta(charset='UTF-8')
    title dish-rate
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/shop-detail.css')
  body
    include header.jade
    h1.shopName= shopName
    .heart.coreSpriteHeartOpen
    ul.comment
    - for (var j = 0; j < doc.length; j++){
      li.comment-item
        div.userName= doc[j].comment.userId
        div.mark= doc[j].comment.mark
        div.content= doc[j].comment.content
        div.date= doc[j].date
    -}
    
  script(src='/javascripts/jquery-2.2.3.min.js')
  script(src='/javascripts/jquery.fly.min.js')
  script(src='/javascripts/rate.js')
